html {
 font-family: Helvetica;
 font-size: 22px;
 color: seashell;
 background-color: black;
 opacity: 0.9;
 text-align: center;
}

h2, h4 {
  margin: 0;
  padding: 10px;
}


/* Header */

.header {
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  z-index: 1;
  background-color: black;
  margin-top: 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 50px;
  margin-left: 10px;
}

nav ul li {
  display: inline-block;
  color: white;
  margin: 0 10px;
}

nav ul li a {
  color: seashell;
}

/* Banner */

.banner {
  background-image: url(../../resources/images/background.jpg);
  background-size: cover;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 70px;
  width: 1200px;
  margin: auto;
  position: relative;
  top: 69px;
}


.mission {
  background-color: black;
  text-align: center;
  width: 100%;
  margin: auto;
}

/* Middle Part */

.middle {
  padding-top: 120px;
  width: 1000px;
  height: 700px;
  margin: auto;
}

.part {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pic img{
  width: 300px;
  height: 200px;
  margin: 10px;
}
